<link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/calander.css")>
<link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
<link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/jquery-ui.css")>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-ui.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery.supercal.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/validate.js")"></script>
 @import helper._
 <style>
.fif {
    display: inline-block;
    -webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	-o-border-radius: 20px;
 	-ms-border-radius: 20px;
 	-khtml-border-radius: 20px;
 	border-radius: 20px;
    float:left;
    color: #000000;
    background-color: #99CCFF;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 20px 3px 20px;
    margin: 2px 10px 10px 10px;
    text-decoration: none;
    font-size: 14pt;
    line-height: 3.0;
    white-space: nowrap;
}
.dropdown p {
	display: inline-block;
	font-weight: bold;
}

.dropdown select {

      border: 0 !important;  /*Removes border*/
      background-color:#6CB5FF
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      width: 110px; /*Width of select dropdown to give space for arrow image*/
      text-indent: 1px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/

      /*My custom style for fonts*/

      color: #1455a2;
}
.selected {
    background-color : #6CB5FF;
}

.redTextClass {
	 color: Red;
}
</style>
 
 <script type="text/javascript">
var doctors = {}; //hashmap, key being doctor's name and value being his timeslots
var diag;
var chosenDr;
var chosenDate;
var appointmentDict = {};
var confirmationmsg;
function getdoctors() {
	 	diag = sessionStorage.getItem('chosenDiag');
		var arr = sessionStorage.getItem('doctorJson');
		json = JSON.parse(arr);
		console.log("diag "+diag+" "+json);
		//doctors[json.name] = json.slots;
		for(var i = 0; i < json.length; i++) {
		    var obj = json[i];
		    console.log("obj "+obj);
		    console.log(obj.name);
		    doctors[obj.name] = obj.slots;
		}
		console.log(doctors);
		/*sessionStorage.removeItem('doctorJson'); // name is the key
		sessionStorage.clear();*/
	}

 function showDoctors(){  
		var docsdiv = document.getElementById('docsdiv');
		console.log(doctors);
		for(var key in doctors)
			{   
				var node = document.createElement('div');
				node.className = 'fif'; 
				node.id = key;  
				node.innerHTML = '<li><a id="d'+key+'"></a>'+key+'</li>';
				docsdiv.appendChild(node);
			}
		}
 function addEvent(){
		var childDivs = document.getElementById('docsdiv').getElementsByTagName('div');
		for( i=0; i< childDivs.length; i++ )
		{
		console.log(childDivs[i]);
		var doc = childDivs[i].id;
		 childDivs[i].addEventListener('click', function (event) {
			 chosenDr = this.id;
			 var div = document.getElementById(this.id);
			 var childDivs = document.getElementById('docsdiv').getElementsByTagName('div');
				for( i=0; i< childDivs.length; i++ )
				{
					childDivs[i].className = "";
					childDivs[i].className = "fif";
				}
			 div.className += " selected";
		 },false);
		}
	}

 function setSession(key,value) {
		sessionStorage.setItem(key,value);	
	}

 function validateFields()
 {
	 var fname  = document.getElementById('name');
	 var femail  = document.getElementById('email');
	 var fdate  = chosenDate;
	 var fdoctor  = chosenDr; 
	 var next = fname.nextSibling;
     if (next && next.className === "redTextClass")
        fname.parentNode.removeChild(next);
     var next = femail.nextSibling;
     if (next && next.className === "redTextClass")
        femail.parentNode.removeChild(next);
     if(fdoctor == null) {
 		alert("Please choose a doctor");
 		return false;
 	}
 	else if(fdate == null) {
 		alert("Please choose a date");
 		return false;
 	}	
 	else if(fname.value == null || fname.value == "") {
     var warningSpan = document.createElement("span");
 	warningSpan.className = "redTextClass";
     warningSpan.innerHTML = '<br></br>*Please enter a value';
     fname.parentNode.insertBefore(warningSpan, fname.nextSibling);
     return false;
 }
	else if(femail.value == null || femail.value == "")
		{
			var warningSpan = document.createElement("span");
	    	warningSpan.className = "redTextClass";
			warningSpan.innerHTML = '<br></br>*Please enter a valid email address';
     	femail.parentNode.insertBefore(warningSpan, femail.nextSibling);
     	return false;
		}
	
	else {
     //no validation error, so we better remove it:
     var next = fname.nextSibling;
     if (next && next.className === "redTextClass")
        fname.parentNode.removeChild(next);
     return true;
 } 
 return false;
 	}
 	
 
	function setBookingInfo()
	{	var date = $('#booking').supercal("change");
		chosenDate = date;
		var mnth = date.getMonth() + 1;
		var dt = date.getFullYear() + '-' +mnth+ '-' +  date.getDate();
		console.log(date.getMonth());
		appointmentDict['dr']= chosenDr;
		appointmentDict['name'] = document.getElementById('name').value;
		appointmentDict['email'] = document.getElementById('email').value;
		appointmentDict['cell'] = document.getElementById('cell').value;
		appointmentDict['slot'] = document.getElementById('select1').value;
		appointmentDict['date'] = dt;
		}
	
$(document).ready(function(){
		getdoctors();
		document.getElementById('diagnosis').innerHTML = "Consult a real doctor for "+diag;
		showDoctors();
		addEvent();
});

$(document).ajaxStop(function () {
	setSession("confirmationStatus",confirmationmsg);
	window.location.href = "/confirmation";
});

$(document).ready(function(){
	$('#book').click(function(){
		var status = validateFields();
		console.log("stat "+status)
		if(status == true)
		{
		setBookingInfo();
		console.log(appointmentDict);
		$.ajax({
		    type: 'POST',
		    contentType: "application/json",
		    dataType: 'text',
		    url: '/confirmation',
		    data: JSON.stringify(appointmentDict),
		    success: function(resp) {
		    	console.log(resp);
		    	confirmationmsg = resp;
		    //setSession("confirmationStatus",resp);
		    }
		  });
		/* setTimeout(function () {
   			window.location.href = "/confirmation"; }, 2000); */
			}
	});
});
 
 </script>
 <body>
 <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/"><b>Enter Symptoms</b></a></li>
              <li><a href="/diagnoses"><b>View Diagnoses</b></a></li>
              <li class="active"><a href="#"a><b>Book an Appointment</b></a></li>
              <li><a><b>Confirmation</b></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
 
  <!-- Main component message or call to action -->
      <div class="jumbotron">
<h2 id ="diagnosis"></h2> 
<h3>Book your appointment in 4 easy steps!</h3>
<br></br>
<div class="panel panel-info">
<div class="panel-heading"><p class="panel-title">Choose your doctor</p>
<div class="nav mainnavs" id="docsdiv"></div>
</div>
</div>
<div class="panel panel-info">
		<div class="panel-heading"><p class="panel-title">
		Pick a date</p>
		</div>
		<div class="panel-body">
			  <div id="booking"></div>
				<script>
					$('#booking').supercal({
						transition: 'none',
					});
					//var dt = $('.booking').supercal("date");
					//alert(dt); 
					//$(console.log("from appointment: "+chosenDate));
				</script> 
		</div>
	  </div> 
	  			<div class="panel panel-info">
		<div class="panel-heading">
		<p class="panel-title">
				<p>Pick a 2-hour time slot</p>
		<div class="dropdown">						
				 <select name="time" size="1" id="select1" >
  					<option value="9:00 am">9am - 11am</option>
  					<option value="1:00 pm" selected="selected">1pm - 3pm</option>
  					<option value="3:00 pm">3pm - 5pm</option>
					</select>
					</div>
				</div>
				</div>
	<div class="panel panel-info">
		<div class="panel-heading"><p class="panel-title">
		<p>Enter your information</p>
	<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">name</span>
				  <input type="text" id="name" class="form-control" aria-describedby="basic-addon1">
				  </div>
			</div>
	</div>	
	<br></br>
	<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">email</span>
				  <input type="text" id="email" class="form-control" aria-describedby="basic-addon1">
				  </div>
			</div>
	</div>
	<br></br>
	<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon3">cell number</span>
				  <input type="text" id="cell" class="form-control" aria-describedby="basic-addon1">
				  </div>
			</div>
	</div>
	</div>
</div>

        <!--  Patient Email <input type="text" name="email"> <br>
        Patient Cell<input type="text" name="cell"> <br>
        <input type="submit" value="Book">	-->
        
        <br></br><!-- for spacing -->
        <div class="row">
          <a class="btn btn-lg btn-default" href="#" id ="book" role="button">Book appointment &raquo;</a>			
</div>
 </div>       
<p></p><!-- for spacing -->
          <div class="mastfoot">
		<div class="inner">
		  <p> <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Georgia Institute of Technology, 2015 &emsp; <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="http://cc.gatech.edu">CC@@GT</a></p>
		</div>
	  </div>
	  </div>	
</body>	         