<link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/jquery-ui.css")>
<link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-ui.js")"></script>
<script type="text/javascript">

var diagnoses = [];
var diagDoctorMap = {};
var doctor;
function getdiags() {
	var arr = sessionStorage.getItem('diagJson');
	json = JSON.parse(arr);
	console.log(json+" "+json.length);
	for(var i = 0; i < json.length; i++) {
		console.log("i is "+i);
	    var obj = json[i];
	    var drnames = [];
	    console.log(obj.diagnosis);
	    diagnoses.push(obj.diagnosis);
	    var len = obj.doctors.length
	    for(var j=0;j<len;j++){
	    	drnames.push(obj.doctors[j].name)
	    }
	    diagDoctorMap[obj.diagnosis] = drnames;	
	}
	console.log(diagDoctorMap);
	/*sessionStorage.removeItem('diagJson'); // name is the key
	sessionStorage.clear();*/
}

function setSession(key,value) {
	sessionStorage.setItem(key,value);	
}

function getDoctorForDisease(d) {
	var diag = diagdict[d];
	setSession('chosenDiag',diag)
	var docs = diagDoctorMap[diag];
	console.log(d + ", " + diag + ", "+docs);
	$.ajax({
	    type: 'POST',
	    contentType: "application/json",
	    dataType: 'text',
	    url: '/appointment',
	    data: JSON.stringify(docs),
	    success: function(resp) {
	    	setSession('doctorJson',resp)	
	    	console.log(resp);
	    }
	  });
	setTimeout(function () {
		window.location.href = "/appointment"; }, 2000); 
}
diagdict = {};
function add(){  
	var diagsdiv = document.getElementById('diagsdiv');
	
	for(var i=0;i<diagnoses.length;i++)
		{   
			var d = diagnoses[i];
			var node = document.createElement('div');
			diagdict[i] = d;
			node.className = 'fif';   
			node.innerHTML = '<li><a id="s'+i+'"></a>'+diagnoses[i]+'</li>';
			diagsdiv.appendChild(node);
			var row = document.createElement('div');
			row.className = 'row';
			row.innerHTML = '<br></br>';
			diagsdiv.appendChild(row);
		}
	}
	
function addEvent(){
	var childDivs = document.getElementById('diagsdiv').getElementsByTagName('div');
	for( i=0; i< childDivs.length; i++ )
	{
	 childDivs[i].index = i/2;
	 childDivs[i].addEventListener('click', function (event) {
		 console.log("from event "+this.index);
		 getDoctorForDisease(this.index);
	 },false);
	}
}

$(document).ready(function(){
	getdiags();
	add();
	addEvent();
});
</script>

<style>
.fif {
    display: inline-block;
    -webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	-o-border-radius: 20px;
 	-ms-border-radius: 20px;
 	-khtml-border-radius: 20px;
 	border-radius: 20px;
    float:left;
    color: #000000;
    background-color: #FFA088;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 20px 3px 20px;
    margin: 2px 50px 10px 10px;
    text-decoration: none;
    font-size: 16pt;
    line-height: 3.5;
    white-space: nowrap;
}
</style>

<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/"><b>Enter Symptoms</b></a></li>
              <li class="active"><a href="#"><b>View Diagnoses</b></a></li>
              <li><a><b>Find a Doctor</b></a></li>
              <li><a><b>Book an Appointment</b></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component message or call to action -->
      <div class="jumbotron">
      <h2>Conditions You Might Have</h2>
      <p>Don't worry, this is just a suggestion. Click on any of the conditions to see a 
      real doctor who can help you with it!</p>
      <div class="nav mainnavs" id="diagsdiv">
      <p></p>                  
      </div>
      </div>
      
      <p></p><!-- for spacing -->
          <div class="mastfoot">
		<div class="inner">
		  <p> <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Georgia Institute of Technology, 2015 &emsp; <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="http://cc.gatech.edu">CC@@GT</a></p>
		</div>
	  </div>
	  </div>
